[submodule "src/kernel"]
	path = src/kernel
	url = https://github.com/hor63/horOpenVario-src-kernel.git

[submodule "src/sunxi-tools"]
	path = src/sunxi-tools
	url = git://github.com/linux-sunxi/sunxi-tools.git

[submodule "src/uboot-mainline"]
	path = src/uboot-mainline
	url = https://github.com/hor63/horOpenVario-src-uboot.git

[submodule "build/boot"]
	path = build/boot
	url = https://github.com/hor63/horOpenVario-build-boot.git

[submodule "mali"]
	path = setup-ubuntu/mali/mali
	url = https://github.com/hor63/sunxi-mali-1.git
[submodule "libump"]
	path = setup-ubuntu/mali/ump/libump
	url = https://github.com/hor63/libump.git
[submodule "src/horI2CtinyUSB"]
	path = src/horI2CtinyUSB
	url = https://github.com/hor63/horI2CtinyUSB.git
[submodule "src/linux-firmware"]
	path = src/linux-firmware
	url = https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
[submodule "src/sunxi-mali"]
	path = src/sunxi-mali
	url = https://github.com/mripard/sunxi-mali.git
[submodule "src/mali-blobs"]
	path = src/mali-blobs
	url = https://github.com/free-electrons/mali-blobs.git
